{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 18
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "decoratorsBeforeExport": true,
        "legacy": false
      }
    ],
    [
      "@babel/plugin-transform-private-methods"
    ]
  ]
}